:root{
    --bg-body: #white;
    --blue: #1B72E8;
    --bg-card-header: #F7F7F7;
    --bg-aside: #051E34;
    --bg-badge: #165BBA;
    --border-card: #00000033;
    --grey-icon: #6E747B;
    --bg-input-text: #E5E5E5;
    --notify: rgb(255, 143, 0);
}

.debug{
    background-color: rgba(0, 128, 0, 0.3);
    border: 1px solid black;
}

body{
    font-family: 'Roboto', sans-serif; 
    background-color: var(--bg-body);
}

img{
    max-width: 100%;
}

header{
    height: 72px;
}

aside{
    background-image: url("../img/sidebar-bg.png");
    background-color: var(--bg-aside);
    width: 70px;
    height: calc(100vh - 72px);
}

.main-wrapper{
    width: calc(100% - 70px);
    height: calc(100vh - 72px);
}

h5{
    font-size: 1.7rem;
}


/* utils */

.gm_container-100{
    width: 100%;
    margin: 0 auto;
}



/* header */
header .row img:last-child{
    width: 50px;
    min-width: 50px;
    aspect-ratio: 1;
}

header input[type="text"]{
    background: transparent;
    width: calc(100% - 50px);
    font-size: .8rem;
    border: none;
}


/* FIXME: INPUT FOCUS */
header input[type="text"]:focus{
    box-shadow: none;
    border-color: var(--bg-input-text);
}

header .row i{
    width: 35px;
}

header .row i:hover{
    cursor: pointer;
}

header .row .input-search{
    background-color: var(--bg-input-text);
}

/* aside */
aside i{
    width: 20px;
}

aside div div:hover{
    cursor: pointer;
    background:rgba(255, 255, 255, 0.5);
}

/* main wrapper */

.main-top{
    background-color: var(--blue);
    height: 300px;
}

.main-top .row .badge{
    background-color: var(--bg-badge) !important;
}

.main-top .row .col-12 .plus{
    font-size: 3.5rem;
}

.main-top .row .col-12 .plus:hover{
    cursor: pointer;
    filter: brightness(.7);
}

.main-body .gm_row-1 .card tr .class i{
    background-color: #D66D59;
    width: 30px;
    aspect-ratio: 1;
}

.main-body .gm_row-1 .card tr .actions{
    color: var(--grey-icon);
}

.main-body .gm_row-1 .card tr .actions > *{
    border: 2px solid var(--grey-icon);
    width: 35px;
    height: 35px;
}

.main-body .gm_row-1 .card tr .actions > *:hover{
    background: var(--grey-icon);
    color: white;
    cursor: pointer;
}

.main-body .gm_row-2 .card ul li.user{
    border-top: none !important;
}

/* cards */
.card-header{
    background-color: var(--bg-card-header);
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
}



/* MEDIA QUERY */

@media screen and (min-width:768px){

    .main-top{
        height: 150px;
    }

}


@media screen and (min-width:992px){

    aside{
        width: 150px;
    }

    .main-wrapper{
    width: calc(100% - 150px);
    }


    .gm_row-1{
        width: 65%;
    }
    
    .gm_row-2{
        width: 35%;
    }

}


