:root{
    --bg-body: #F8F9FA;
    --blue: #1B72E8;
}

.debug{
    background-color: rgba(0, 128, 0, 0.3);
    border: 1px solid black;
}

body{
    font-family: 'Roboto', sans-serif; 
    background-color: var(--bg-body);
}

img{
    max-width: 100%;
}

header{
    z-index: 999;
    height: 72px;
}

aside{
    width: 150px;
    height: 100vh;
    z-index: 999;
}

.main-top{
    width: calc(100% - 150px);
    height: 100vh;
    overflow: auto;
}



/* MEDIA QUERY */

@media screen and (max-width:768px){

    aside{
        width: 70px;
    }
    
    main{
        margin-left: 70px;
    }

}