:root{
    --bg-body: #F8F9FA;
    --blue: #1B72E8;
}

.debug{
    background-color: rgba(0, 128, 0, 0.3);
    border: 1px solid black;
}

body{
    font-family: 'Roboto', sans-serif; 
    background-color: var(--bg-body);
}

img{
    max-width: 100%;
}

header{
    height: 72px;
}

aside{
    width: 70px;
    height: calc(100vh - 72px);
}

.main-wrapper{
    width: calc(100% - 70px);
    height: calc(100vh - 72px);
}

.main-top{
    background-color: var(--blue);
    height: 270px;
}




/* utils */

.gm_container-100{
    width: 100%;
    margin: 0 auto;
}



/* MEDIA QUERY */

@media screen and (min-width:768px){



}


@media screen and (min-width:992px){

    aside{
        width: 150px;
    }

    .main-wrapper{
    width: calc(100% - 150px);
    }

    .main-top{
        height: 150px;
    }

    .gm_row-1{
        width: 60%;
    }
    
    .gm_row-2{
        width: 40%;
    }

}


